# db
POSTGRES_USER: it_hanako
POSTGRES_PASSWORD: abcdefghi
POSTGRES_DB: app_db
POSTGRES_PORT: 1234

# app
PORT_APP: 8000:8000
DB_URL: postgresql://it_hanako:abcdefghi@db:1234/app_db
SQLALCHEMY_ECHO=false