fastapi
sqlalchemy
alembic
psycopg2-binary
pydantic
jinja2
python-multipart
uvicorn
gunicorn
passlib[bcrypt]
pyjwt
python-multipart
fastapi-csrf-protect
slowapi
pyjwt[crypto]
python-jose[cryptography]
python-jose