h1 {
  text-align: center;
  margin-top: 50px;
}

.register-form {
  max-width: 400px;
  margin: 0 auto;
}

.form-group {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.form-group label {
  width: 100px;
  text-align: right;
  margin-right: 15px;
  font-weight: bold;
}

.form-group input,
.form-group textarea,
.form-group select {
  flex: 1; /* 残りの幅をいっぱいに使う */
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* ボタン */
button {
  text-align: center;
  background-color: blue;
  color: white;
  width: 80px;
  border-radius: 5px;
  height: 25px;
  border: none;
  height: 25px;
  margin-left: 180px;
}

button:hover {
  background-color: rgb(71, 71, 218);
}

.register-link {
  display: block;
  text-align: center;
  margin-top: 20px;
}

.login-btn {
  display: block;
  margin: 0 auto; /* ボタン自体を中央に寄せるおまじない */
}
