h1 {
    text-align: center;
    margin-top: 50px;
}

.create-form {
    max-width: 400px;
    margin: 0 auto; /* フォーム自体を中央に */
}

.form-group {
    display: flex;       /* 横並びにする */
    align-items: center; /* 上下中央をそろえる */
    margin-bottom: 15px; /* 項目ごとのすきま */
}

.form-group label {
    width: 100px;        /* ラベルの幅を固定！これが重要 */
    text-align: right;   /* 文字を右寄せにするとより綺麗 */
    margin-right: 15px;  /* 入力欄との距離 */
    font-weight: bold;
}

.form-group input, 
.form-group textarea, 
.form-group select {
    flex: 1;             /* 残りの幅をいっぱいに使う */
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* ボタン */
button {
    text-align: center;
    background-color: blue;
    color: white;
    width: 80px;
    border-radius: 5px; 
    height: 25px;
    border: none;
    height: 25px;
    margin-left: 180px;
}

button:hover {
    background-color: rgb(71, 71, 218);
}

a {
    margin-left: 930px;
}