<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>tag一覧</title>
    <link rel="stylesheet" href="{{ url_for('static', path='/tag_list.css') }}">
</head>
<body>
    <h1>タグ一覧</h1>
    <div class="fix">
        <form method="get" action="/api/tag">
            <input type="text" name="q" placeholder="キーワードを入力" value="{{ search_query }}">
            <button type="submit">検索</button>
            {% if search_query %}
            <a href="/api/tag" class="btn-clear">検索クリア</a>
            {% endif %}
        </form>

        <a href="/tag/create" class="btn-create">作成</a>
    </div>

    <p>全 {{ total_count }} 件中 / {{ current_page }} ページ目</p>

    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>タイトル</th>
                <th>作成日時</th>
                <th>操作</th> </tr>
            </tr>
        </thead>
        <tbody>
        {% for tag in tag_list %}
            <tr>
                <td>
                    <a href="/api/tag/{{ tag.id }}">{{ tag.id }}</a>
                </td>
                <td>{{ tag.title }}</td>
                <td>{{ tag.created_at }}</td>
                <td>
                    <div style="display: flex; width: 300px;">
                    <form action="/api/tag/{{ tag.id }}/delete" method="post">
                            <input type="hidden" name="_method" value="DELETE">
                            <button type="submit" onclick="return confirm('削除しますか？')">削除</button>
                        </form>
                        <form action="/api/tag/{{ tag.id }}" method="get">
                            <button>詳細</button>
                        </form>
                    </div>
                </td>
            </tr>
            {% else %}
            <tr>
                <td colspan="3">タグが見つかりません。</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div>
        {% if current_skip > 0 %}
            <a href="?skip={{ current_skip - current_limit }}&limit={{ current_limit }}&q={{ search_query }}" class="button-prev">戻る</a>
        {% endif %}

        {% if current_page < total_pages %}
            <a href="?skip={{ current_skip + current_limit }}&limit={{ current_limit }}&q={{ search_query }}" class="button-next">進む</a>
        {% endif %}
    </div>
</body>
</html>