<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>tagの詳細</title>
    <link rel="stylesheet" href="{{ url_for('static', path='/tag_detail.css') }}">
</head>
<body>
    <div class="detail-grid">
        <div class="label">タイトル</div>
        <div class="value">{{ tag.title }}</div>

        <div class="label">作成日時</div>
        <div class="value">{{ tag.created_at }}</div>

        <div class="label">詳細</div>
        <div class="value">{{ tag.description }}</div>

        <div class="label">使用方法</div>
        <div class="value">{{ tag.usage }}</div>
    </div>

    <button class="button-back-tag" onclick="window.location.href='/tag'">一覧に戻る</button>
    <button class="button-back-top" onclick="window.location.href='/'">todo一覧に戻る</button>

</body>
</html>