<!DOCTYPE html>
<html lang="ja">
<head>
    <title>TODO作成</title>
    <link rel="stylesheet" href="{{ url_for('static', path='/todo_create.css') }}">
</head>
<body>
    <h1>新しいタスクを作成</h1>
    
    <form action="/api/todo" method="post" class="create-form">
    <div class="form-group">
        <label>タイトル:</label>
        <input type="text" name="title" required>
    </div>
    <div class="form-group">
        <label>作成日時:</label>
        <input type="datetime-local" name="created_at">
    </div>
    <div class="form-group">
        <label>詳細:</label>
        <textarea name="description" required></textarea>
    </div>
    <div class="form-group">
        <label>期限:</label>
        <input type="datetime-local" name="due_date">
    </div>
    <div class="form-group">
        <label>ステータス:</label>
        <select name="status">
            <option value="false">未完了</option>
            <option value="true">完了</option>
        </select>
    </div>
    <div class="form-group">
        <label>タグ:</label>
        <input type="text" name="tag">
    </div>
    <div class="form-group">
        <label>リンク:</label>
        <input type="url" name="link">
    </div>
    <button type="submit" class="submit-btn">作成する</button>
</form>
    
    <a href="/">一覧に戻る</a>
</body>
</html>